.*
!.git*
~*
*.bak
*.crx
*.gz
*.js
*.log
*.swp
*.tar
*.tgz
*.tsbuild*
.ts*
*.zip
dist/
node_modules/
!gulpfile.js
!/background/worker.js
!/lib/math_parser.js
!/lib/viewer.*
!/scripts/*.js
icons/*.bin
.env*
/dist-*
